#root {
    max-width: 1440px;
    min-width: min(calc(100% - 4em),1280px);
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.time {
    margin: 0 auto;
}

.card {
    padding: 2em;
}

.mission {
    text-align: left;
    padding: 2ch;
    margin: 1ch;
    background-color: var(--color-fg);
    border-radius: 1ch;
}

.missions {
    min-height: 4ch;
}

.mission-type label {
    margin: 1em;
}

.mission-type {
    padding: 1ch;
    background-color: #202020;
    border-radius: 1ch;
}

.bounding-box { 
  width: 100%;
}

.relics {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}
.mission-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    width: 100%;
    margin: 1em auto;
}
.mission-block:empty {
    margin: 0;
}

.control-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    width: 70%;
    margin: 1em auto;
}

.toggle-btn {
  padding: 0.25em;
  background-color: #1a1a1a;
}
.toggle-btn.disabled {
  background-color: #161616;
  color: #4d4d4d;
}
